.balance-card{
    color: #FFF;
    background-color: #03A9F4 !important;
}
.withdraw-card{
    color: #FFF;
    background-color: #E74C3C !important;
}
.deposit-card{
    color: #FFF;
    background-color: #2ECC71 !important;
}